In [1]:
import pandas as pd

In [2]:
data1 = [{'a': 1., 'b': 2., 'c': 3.}, {'a': 4., 'b': 5., 'c': 6., 'd': 7.}]
df1 = pd.DataFrame(data1)
df1

     a    b    c    d
0  1.0  2.0  3.0  NaN
1  4.0  5.0  6.0  7.0

In [3]:
df1.index # 取得列標籤

RangeIndex(start=0, stop=2, step=1)

In [4]:
df1.columns # 取得行標籤

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
df1[['a', 'c']] # 行標籤為'a'和'c'的資料

     a    c
0  1.0  3.0
1  4.0  6.0

In [6]:
df1['a'][0] # 行標籤為'a'、列標籤為0的資料

1.0

In [7]:
df1[:1] # 列標籤1之前的列（不含列標籤1）

     a    b    c   d
0  1.0  2.0  3.0 NaN

In [8]:
pd.DataFrame(data1, index = ["first", "second"])

          a    b    c    d
first   1.0  2.0  3.0  NaN
second  4.0  5.0  6.0  7.0

In [9]:
pd.DataFrame(data1, index = ["first", "second"], columns = ['d', 'b', 'a'])

          d    b    a
first   NaN  2.0  1.0
second  7.0  5.0  4.0

In [10]:
data = {"drink": ["啤酒", "咖啡", "紅茶"], "dessert": ["蛋糕", "餅乾", "泡芙"]}
pd.DataFrame(data)

  drink dessert
0    啤酒      蛋糕
1    咖啡      餅乾
2    紅茶      泡芙

In [11]:
data = {"one": pd.Series([1., 2.], index = ['a', 'b']), "two": pd.Series([3., 4., 5.], index = ['a', 'b', 'c'])}
pd.DataFrame(data)

   one  two
a  1.0  3.0
b  2.0  4.0
c  NaN  5.0

In [12]:
pd.DataFrame(data, index = ['c', 'b'])

   one  two
c  NaN  5.0
b  2.0  4.0

In [13]:
pd.DataFrame(data, index = ['c', 'b'], columns = ["two", "three"])

   two three
c  5.0   NaN
b  4.0   NaN