In [1]:
import pandas as pd

In [2]:
s1 = pd.Series(["Tom", 92, 88]) # 從串列建立Series
s1 # 採取預設的列編號0、1、2

0    Tom
1     92
2     88
dtype: object

In [3]:
s1[0] # 透過列編號0顯示第一個資料

'Tom'

In [4]:
s2 = pd.Series(["Tom", 92, 88], index = ["name", "math", "english"])
s2

name       Tom
math        92
english     88
dtype: object

In [5]:
s2["name"] # 透過列標籤"name"顯示對應的資料

'Tom'

In [6]:
s2[0] # 仍可透過列編號0顯示第一個資料

'Tom'

In [7]:
dict1 = {'貓': "cat", '狗': "dog"}
s3 = pd.Series(dict1)
s3

貓    cat
狗    dog
dtype: object

In [8]:
s4 = pd.Series(dict1, index = ['貓', '狗', '鳥'])
s4

貓    cat
狗    dog
鳥    NaN
dtype: object

In [9]:
import numpy as np
s5 = pd.Series(np.arange(1, 10, 3)) # 從ndarray建立Series
s5

0    1
1    4
2    7
dtype: int32

In [10]:
s5[0] # 透過列編號0顯示第一個資料

1

In [11]:
s6 = pd.Series(5, index = ['a', 'b', 'c'])
s6

a    5
b    5
c    5
dtype: int64

In [12]:
s7 = pd.Series(5, name = 'num', index = ['a', 'b', 'c'])
s7.name # 透過name屬性取得名稱

'num'

In [13]:
s7.index # 透過index屬性取得列標籤

Index(['a', 'b', 'c'], dtype='object')

In [14]:
s = pd.Series([1, 3, 5, 7]) # 從串列建立Series
s

0    1
1    3
2    5
3    7
dtype: int64

In [15]:
s[2:] # 列編號2和之後的資料

2    5
3    7
dtype: int64

In [16]:
s[:2] # 列編號2之前的資料（不含列編號2）

0    1
1    3
dtype: int64

In [17]:
s + s # 將兩個Series對應的資料相加

0     2
1     6
2    10
3    14
dtype: int64

In [18]:
s > 2 # Series的資料大於2

0    False
1     True
2     True
3     True
dtype: bool

In [19]:
np.square(s) # 將Series的資料平方

0     1
1     9
2    25
3    49
dtype: int64