In [1]:
[1, "Taipei", 2, "Tokyo"] # 包含4個元素的串列

[1, 'Taipei', 2, 'Tokyo']

In [2]:
[2, "Tokyo", 1, "Taipei"] # 元素相同但順序不同，表示不同串列

[2, 'Tokyo', 1, 'Taipei']

In [3]:
list1 = list()
list1

[]

In [4]:
list2 = list([1, 2, 3])
list2

[1, 2, 3]

In [5]:
list1 = []
list2 = [1, 2, 3]

In [6]:
list3 = list("ABA")
list3 # 從字串建立包含 'A', 'B', 'A' 的串列

['A', 'B', 'A']

In [7]:
list4 = list(range(5))
list4

[0, 1, 2, 3, 4]

In [8]:
list5 = list(range(8, 0, -2))
list5

[8, 6, 4, 2]

In [9]:
"1 2 3".split() # 根據空白將字串分隔成串列

['1', '2', '3']

In [10]:
"1,2,,3,".split(',') # 根據逗號將字串分隔成串列

['1', '2', '', '3', '']

In [11]:
len([1, 2, 3, 4, 5])

5

In [12]:
max([1, 2, 3, 4, 5])

5

In [13]:
min([1, 2, 3, 4, 5])

1

In [14]:
sum([1, 2, 3, 4, 5])

15

In [15]:
import random
L = [1, 2, 3, 4, 5]
random.shuffle(L)
L

[4, 5, 3, 2, 1]

In [16]:
random.choice(L)

3

In [17]:
random.choice(L)

4

In [18]:
[1, 2, 3] + ["Taipei", "Tokyo", "Vienna"]

[1, 2, 3, 'Taipei', 'Tokyo', 'Vienna']

In [19]:
3 * [1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
[1, "神隱少女", "宮崎駿"] == ["神隱少女", "宮崎駿", 1]

False

In [22]:
[1, 2, 3] != [1, 2, 3, 4]

True

In [23]:
['a', 'b', 'c', 'd', 'e'] > ['a', 'b', 'c', 'd', 'E']

True

In [24]:
['我', '是', 'A'] < ['我', '是', 'B']

True

In [25]:
"Taipei" in [1, "Taipei", 2, "Tokyo"]

True

In [26]:
"Vienna" in [1, "Taipei", 2, "Tokyo"]

False

In [27]:
"Taipei" not in [1, "Taipei", 2, "Tokyo"]

False

In [28]:
"Vienna" not in [1, "Taipei", 2, "Tokyo"]

True

In [29]:
L = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
L[2:5]

[15, 20, 25]

In [30]:
L[3:7]

[20, 25, 30, 35]

In [31]:
L[6:-1]

[35, 40, 45]

In [32]:
L[:2]

[5, 10]

In [33]:
L[2:]

[15, 20, 25, 30, 35, 40, 45, 50]

In [34]:
sum = 0
for i in L:
    sum = sum + i

sum

275