In [1]:
S1 = {10, 20, 30, 40, 50}

In [2]:
S1.add(60)
S1

{10, 20, 30, 40, 50, 60}

In [3]:
S1.remove(30)
S1

{10, 20, 40, 50, 60}

In [4]:
S1.pop()

50

In [5]:
S1

{10, 20, 40, 60}

In [6]:
S2 = S1.copy()
S2

{10, 20, 40, 60}

In [7]:
S1.clear()
S1

set()

In [8]:
S1 = {"小丸子", "小玉", "花輪"}
S2 = {"丸尾", "小丸子", "花輪", "小玉"}

In [9]:
S1.issubset(S2)

True

In [10]:
S1.issuperset(S2)

False

In [11]:
S2.issubset(S1)

False

In [12]:
S1 = {1, 3, 5}
S2 = {3, 5, 7, 9}

In [13]:
S1.isdisjoint(S2)

False

In [14]:
S3 = S1.union(S2)
S1

{1, 3, 5}

In [15]:
S3

{1, 3, 5, 7, 9}

In [16]:
S3 = S1 | S2
S3

{1, 3, 5, 7, 9}

In [17]:
S1.update(S2)
S1

{1, 3, 5, 7, 9}

In [18]:
S1 = {1, 3, 5}
S2 = {3, 5, 7, 9}

In [19]:
S3 = S1.intersection(S2)
S1

{1, 3, 5}

In [20]:
S3

{3, 5}

In [21]:
S3 = S1 & S2
S3

{3, 5}

In [22]:
S1.intersection_update(S2)
S1

{3, 5}

In [23]:
S1 = {1, 3, 5}
S2 = {3, 5, 7, 9}

In [24]:
S3 = S1.difference(S2)
S1

{1, 3, 5}

In [25]:
S3

{1}

In [26]:
S3 = S1 - S2
S3

{1}

In [27]:
S1.difference_update(S2)
S1

{1}

In [28]:
S1 = {1, 3, 5}
S2 = {3, 5, 7, 9}

In [29]:
S3 = S1.symmetric_difference(S2)
S1

{1, 3, 5}

In [30]:
S3

{1, 7, 9}

In [31]:
S3 = S1 ^ S2
S3

{1, 7, 9}

In [32]:
S1.symmetric_difference_update(S2)
S1

{1, 7, 9}