In [1]:
(1, "Taipei", 2, "Tokyo") # 包含4個元素的序對

(1, 'Taipei', 2, 'Tokyo')

In [2]:
(2, "Tokyo", 1, "Taipei") # 元素相同但順序不同，表示不同序對

(2, 'Tokyo', 1, 'Taipei')

In [3]:
tuple1 = tuple()
tuple1

()

In [4]:
tuple2 = tuple((1, 2, 3))
tuple2

(1, 2, 3)

In [5]:
tuple1 = ()
tuple2 = (1, 2, 3)

In [6]:
tuple3 = tuple("ABA")
tuple3 # 從字串建立序對

('A', 'B', 'A')

In [7]:
tuple4 = tuple(range(5))
tuple4

(0, 1, 2, 3, 4)

In [8]:
tuple5 = tuple([i * 2 for i in range(3)])
tuple5 # 從串列推導式得到的串列建立序對

(0, 2, 4)

In [9]:
T = (1, 2, 3, 4, 5)

In [10]:
len(T)

5

In [11]:
max(T)

5

In [12]:
min(T)

1

In [13]:
sum(T)

15

In [14]:
(1, 2, 3) + ("Taipei", "Tokyo", "Vienna")

(1, 2, 3, 'Taipei', 'Tokyo', 'Vienna')

In [15]:
3 * (1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [16]:
(1, 2, 3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [17]:
(1, "小美", "大明") == ("小美", "大明", 1)

False

In [18]:
(1, 2, 3) != (1, 2, 3, 4)

True

In [19]:
(1, 2, 3) < (1, 2, 3, 4)

True

In [20]:
"Taipei" in (1, "Taipei", 2, "Tokyo")

True

In [21]:
"Taipei" not in (1, "Taipei", 2, "Tokyo")

False

In [22]:
T = (5, 10, 15, 20, 25, 30, 35, 40, 45, 50)
T[0]

5

In [23]:
T[2:5]

(15, 20, 25)

In [24]:
T[6:-1]

(35, 40, 45)

In [25]:
T = (50, 20, 40, 20, 30, 20, 10)
T.index(20)

1

In [26]:
T.count(20)

3

In [27]:
T = (5, 10, 15, 20, 25, 30, 35, 40, 45, 50)
sum = 0
for i in T:
    sum = sum + i

sum

275

In [28]:
T[0] = 100

TypeError: 'tuple' object does not support item assignment